<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/styles">
    <title>Desafio Black & White</title>
</head>
<body>
    <h1 class= "title">Desafio Black & White</h1>
    <h2>Transforma tu foto a escala de grises</h2>
    <div>
        <form action="/editar" class="form" method="post">
            <div class="form-group">
                <label for="URL">URL de la Imagen:</label><br>
                <input type="text" name="URL" id="URL" placeholder="ingresa aqui la url.">
                <br>
                <button type="submit">Transformar</button>
            </div>

        </form>
    </div>
</body>
</html>